body{
    margin:0;
    padding:0;
    font-family: 'Barlow Condensed', sans-serif;

}
h1{
    font-size: 50px;
}
h3{
    font-size: 25px;
    color:lightseagreen;
}
.bloger-color{
    color:orange;
}
.intro{
    display: flex;
    padding:5px;
}
.intro img{
    width: 500px;
    height: 400px;
    border-radius:50%;
}

.place-intro{
    padding-left:2%;
    width: 50%;
    line-height: 1.5;
    font-size: 20px;
}
.link-button{
    text-decoration: none;
    padding:15px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange,salmon);
    color:white;
}