body{
    margin:0;
    padding:0;
    font-family: 'Barlow Condensed', sans-serif;
    box-sizing: border-box;

}
.intro{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;

}

h1{
    font-size: 50px;
}
h3{
    font-size: 25px;
}
.bloger-color{
    color:orange;
}
.intro{
    display: flex;
    padding:5px;
}
.intro img{
    width: 500px;
    height: 400px;
    border-radius:50%;
}
.half-width{
    width: 50%;
    padding-left:2%;
    width: 50%;
    line-height: 1.5;
    font-size: 20px;
}
.link-button{
    text-decoration: none;
    padding:15px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange,salmon);
    color:white;
}

.big-dream{
    display: flex;
    margin-left: 20px;
}
.big-dream .big-img img{
    height:400px;
    width: 500px;
    border-radius: 50%;
}
.big-dream .big-img{
    width: 50%;
    margin:20px;
}
.big-dream .big-desc{
    width: 50%;
}
.big-desc p{
    font-size:22px;
    line-height: 1.5;
}

.experience-area{
    display: flex;
    margin: 10px auto;
}
.common-div{
    margin:5%;
    width: 40%;
    box-shadow:10px 5px 5px gray;
    line-height: 1.5;
    font-size:20px;
    padding-left:1%;
}


.right-div{
    
    border-image: linear-gradient(salmon,orange);
    border-image-slice: 1;
    border-left: 5px solid;
}

.left-div{
    
    border-image: linear-gradient(yellow,cyan);
    border-image-slice: 1;
    border-left: 5px solid;

}
footer{
    width: 400px;
    margin:0 auto;
}
footer p{
    background-color: black;
    text-align: center;
    color: white;
}
footer span{
    /* font-size:; */
    color:lightseagreen;
    font-weight:bold;
    font-style: italic;
    
}
.skills{
    display: flex;
    /* padding:5px; */
}
.skills div{
    padding:5px;
    margin-left: 5px;
    border:2px solid;
    box-shadow: 5px 10px 10px gray;
    /* background-image: linear-gradient(#F26C68,salmon); */
    /* border-image-slice: 1; */
    
    padding:10px;

}

.item-name{
    width: 200px;
    text-align:center;
    text-decoration: underline;
    margin: 0 auto;
    color:#F26C68;
}

.skills >  div{
        box-shadow: 5px 10px 10px gray;
        border-image: linear-gradient(yellow,cyan);
        border-image-slice: 1;
        border-right: 4px solid;
       
    
}

.skills >  div{
   
    border-image: linear-gradient(lightpink,orange);
    border-image-slice: 1;
    border-top: 4px solid;
}

.skills >  div{
    /* box-shadow: 5px 10px 10px gray; */
    border-image: linear-gradient(indigo,aqua);
    border-image-slice: 1;
    border-top: 4px solid;
}

.skills >  div{
    /* box-shadow: 5px 10px 10px gray; */
    border-image: linear-gradient(red,skyblue);
    border-image-slice: 1;
    border-bottom: 4px solid;
}

.item-list{
    display: flex;
    margin-top: 50px;
    padding-left: 50px;
}

#skill-list-intro{
    font-size: 30px;
    font-style: italic;
    color:lightslategray
}
.skill-coding{
    text-align: left;
    width: 50%;
}
.skill-coding li {
    font-size: 20px;
    padding:10px;
    font-family: monospace;
    margin: 20px;
    width: 200px;
    border:2px solid;
    border-image: linear-gradient(salmon,orange);
    border-image-slice: 2;
    box-shadow: 10px 10px 5px green;
    
    
}
.coding-section{
    text-align:center
}
.coding-section h3{
    color:hotpink;
    font-family: inherit;
}

.coding-section img{
    height: 300px;
    width: 300px;
    border-radius:50%;
}   
.coding-section p{
    line-height: 1.5;
    margin: 0 auto;
    width: 50%;
    padding:5px;
    text-align:justify
}
.contact-list li a{
    text-decoration: none;
}

ul li a{
    text-decoration: none;
    color:#F26C68;
}
ul li a:hover{
    text-decoration: underline;
    color:gray;
}