body{
    margin:0;
    padding:0;
    font-family: 'Barlow Condensed', sans-serif;
    box-sizing: border-box;

}
.intro{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;

}

h1{
    font-size: 50px;
}
h3{
    font-size: 25px;
}
.bloger-color{
    color:orange;
}
.intro{
    display: flex;
    padding:5px;
}
.intro img{
    width: 500px;
    height: 400px;
    border-radius:50%;
}
.half-width{
    width: 50%;
    padding-left:2%;
    width: 50%;
    line-height: 1.5;
    font-size: 20px;
}
.link-button{
    text-decoration: none;
    padding:15px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange,salmon);
    color:white;
}

.big-dream{
    display: flex;
    margin-left: 20px;
}
.big-dream .big-img img{
    height:400px;
    width: 500px;
    border-radius: 50%;
}
.big-dream .big-img{
    width: 50%;
    margin:20px;
}
.big-dream .big-desc{
    width: 50%;
}
.big-desc p{
    font-size:22px;
    line-height: 1.5;
}

.experience-area{
    display: flex;
    margin: 10px auto;
}
.common-div{
    margin:5%;
    width: 40%;
    box-shadow:10px 5px 5px gray;
    line-height: 1.5;
    font-size:20px;
    padding-left:1%;
}


.right-div{
    
    border-image: linear-gradient(salmon,orange);
    border-image-slice: 1;
    border-left: 5px solid;
}

.left-div{
    
    border-image: linear-gradient(yellow,cyan);
    border-image-slice: 1;
    border-left: 5px solid;

}
footer{
    width: 400px;
    margin:0 auto;
}
footer p{
    background-color: black;
    text-align: center;
    color: white;
}
footer span{
    font-size: 25px;
    color:lightseagreen;
    font-weight:bold;
    font-style: italic;
    
}